<footer class="p2pu-footer">

	<div class="container">

		<ul class="footer-social clearfix">
			<li><a target="_blank" href="http://community.musedlab.org/"><i class="fa fa-weixin"></i></a>
			</li>
			<li><a target="_blank" href="https://twitter.com/intent/tweet?url=http%3A%2F%2Fmusedlab.org&text=Create%20engaged%20learning%20communities%20that%20last&hashtags=musiced&via=musedlab&related=musedlab"><i class="fa fa-twitter"></i></a>
			</li>
			<li>
				<a target="_blank" href="https://www.facebook.com/nyumusedlab">
					<i class="fa fa-facebook"></i>
				</a>
			</li>
		</ul>

		<hr>
		<div class="col-md-4 first">
			<h4>What is the NYU MusEDLab?</h4>

			<p>
				The NYU Music Experience Design Lab (MusEDLab) researches and designs technologies and experiences for music making, learning and engagement.
				We co-design together with community, industry, non-profit, educator and youth partners, with a focus on promoting creative making and learning, and
				lowering barriers to creative expression. Follow our work online at <a href="http://musedlab.org/">http://musedlab.org</a>.
			</p>

		</div>

		<div class="col-md-4 col-md-offset-1">
			<h4>Meta</h4>
			<ul class="footer-links">
				<li>
					<i class="fa fa-angle-right "></i>
					<a href="/en/terms/">
						Terms of Use
					</a>
				</li>
				<li>
					<i class="fa fa-angle-right "></i>
					<a href="http://info.p2pu.org/strategy-2014-03-20/">
						Workflow and strategic plan
					</a>
				</li>
				<li>
					<i class="fa fa-angle-right "></i>
					<a href="/assets/uploads/P2PUMediaKit.pdf">
						Media Kit
					</a>
				</li>
				<li>
					<i class="fa fa-angle-right "></i>
					<a class="donate" href="#" data-toggle="modal" data-target="#donate-modal">
						Donate
					</a>
				</li>
			</ul>
		</div>


		<div class="pull-right col-md-3 cc-by-sa">
			<!-- <img src="{{site.baseurl}}/img/cc-icons.png" alt="CC-BY-SA Icon"> -->

			<p>
				Unless otherwise noted, all the materials on this site Copyright &copy; 2016 New York University.
			</p>
		</div>

	</div>

</footer>

